mulejardemo/src/main/mule/mulejardemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e17f9fd-e0b7-41a5-bf3d-10de507888ac" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulejardemoFlow" doc:id="bd324542-f204-4b74-bd6f-bc2379339d64" >
		<http:listener doc:name="Listener" doc:id="53e6c040-2cb7-46d3-b8ea-30594b89f412" config-ref="HTTP_Listener_config" path="/JarDemo"/>
		<java:new doc:name="New" doc:id="454ba434-e4bb-4a8a-bacb-a1b4357b6d0f" class="com.jus.util.CalculatorLogic" constructor="CalculatorLogic()" target="calc"/>
		<java:invoke doc:id="0e671c64-3368-4812-b0fd-02124c7c283e" class="com.jus.util.CalculatorLogic" instance="#[vars.calc]" method="setNumbers(int, int)" target="result">
			<java:args ><![CDATA[#[{
	args0:10,
	args1:20
}]]]></java:args>
		</java:invoke>
		<java:invoke doc:name="Invoke" doc:id="13b891ed-e594-47d4-8177-31988557a360" instance="#[vars.calc]" class="com.jus.util.CalculatorLogic" method="add()" target="sumval"/>
		<set-payload value="#[vars.sumval as String]" doc:name="Set Payload" doc:id="70f5dc1c-e6f7-46fc-84a7-6d8731c5a013" />
		<logger level="INFO" doc:name="Logger" doc:id="8a5890d9-b681-420b-bbc2-e739d4493f9b" message="#[payload]"/>
	</flow>
</mule>
